<%- include('../includes/head.ejs') %> 
<main>
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <p><%= product.productId.title %> (<%= product.quantity %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order now!</button>
            </form>
        </div>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %> 
