<%- include('../includes/head.ejs') %> 
<main>
    <% if (orders.length <= 0) { %>
        <h1>No Orders yet!</h1>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %> 
            <li>
                <h1># <%= order.id %> </h1>
                <ul>
                    <% order.products.forEach(products => { %> 
                        <li>
                            <%= products.title %> (<%= products.order_item.quantity %>)
                        </li>
                    <% }) %> 
                </ul>
            </li>
            <% }) %> 
        </ul>
    <% } %> 
</main>
<%- include('../includes/end.ejs') %> 
